<h1>Contacts</h1>
<div class="CSSTableGenerator">
<table>
  <tr>
    <td>First name</td>
    <td>Last name</td>
    <td>Address</td>
    <td>Email</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.first_name %></td>
    <td><%= contact.last_name %></td>
    <td><%= contact.address %></td>
    <td><%= contact.email %></td>
    <td><%= link_to 'Show', contact_path(contact) %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New Contact', new_contact_path %>
